<div class="container-fluid">
    <div class="row">
        <div class="col-12 mt-3">
            <div class="card text-center shadows-lg p-3 rounded">
                <div class="card-header">
                    ONLINE GIVING
                </div>
                <div class="card-body">
                    <h5 class="card-title">Easy Tithe</h5>
                    <p class="card-text">
                        We realize that we have busy lives and that more of life's transactions happen online. 
                        You can do your giving online at: <a href="https://app.easytithe.com/App/Giving/citychurchstockton">easyTithe.com/citychurchstockton</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-12 mt-3">
            <div class="card text-center shadows-lg p-3 rounded">
                <div class="card-header">
                    TEXT GIVING
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <h5 class="card-title">Text to Tithe</h5>
                            <p class="card-text">
                                We use our phones for just about everything these days. 
                                Want to use your phone for your giving? 
                                Text to give is another option to make giving easier for you in our modern world of technology.
                            </p>
                        </div>
                        <div class="col-12 mt-3">
                            <h5 class="card-title">How it works:</h5>
                            <p class="card-text">
                                Text (209)783-3007 and send text message with the dollar amount (e.g. $10).
                                If this is your first time giving this way, it will have you fill out a short form with your billing info.
                                After the initial setup, giving is as easy as sending a text message.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
