<div class="container-fluid">
    <div class="row">
        <div class="col-12 mt-3">
            <div class="card shadow p-3 mb-5 bg-white rounded">
                <div class="row">
                    <div class="col-12">
                        <div class="card-header">PASTORS</div>
                    </div>
                    <div class="col-12">
                        <div class="row no-gutters">
                            <div class="col-12 col-lg-2">
                                <img class="card-img h-100" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ7NOpOwhLjOqeB9XNccXJvkmB3UhyJCJk9-Q&usqp=CAU" alt="Pastors">
                            </div>
                            <div class="col-12 col-lg-10">
                                <div class="card-body">
                                    <h5 class="card-title mb-3">Pastor Dan and Pastor Audra Coburn</h5>
                                    <p class="card-text">
                                        Dan and Audra Coburn are licensed and ordained Pastors with the International Church of the Foursquare Gospel.
                                        In the past 20 years they have served as Youth Pastor, Kid's Pastor, Administrative Pastor, and now as Lead Pastors at City Church Stockton.
                                        Dan and Audra have been married over 20 years and have 4 children: Joe(23), Mikalya(18), Gabriella(14), and Levi(10).
                                        We want you to know that at City Church we are "real" people, doing life together with the HOPE of Jesus Christ!
                                        Come say "hi" and lets have lunch together!
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 mt-3">
            <div class="card shadow p-3 mb-5 bg-white rounded">
                <div class="row">
                    <div class="col-12">
                        <div class="card-header">BELIEFS</div>
                    </div>
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12 col-lg-10">
                                <div class="card-body">
                                    <h5 class="card-title">Four Square</h5>
                                    <h6 class="card-subtitle mb-3 text-muted">City Church Stockoton</h6>
                                    <p class="card-text">
                                        Foursquare Church believes that Jesus Christ is the Savior, Baptizer with the Holy Spirit, Healer, and Soon-Coming King.
                                        We stand firm on the foundation set by Hebrews 13:8, which proclaims:"Jesus Christ the Same, Yesterday, Today, and Forever."
                                    </p>
                                </div>
                            </div>
                            <div class="col-12 col-lg-2">
                                <img class="card-img h-100" src="https://bn1305files.storage.live.com/y4m95_yeChvgJ0cwbPswUBQeKmVG0gX_ed3GjV7AcO0GciMHGnu57jspEXfUHhsYc11gWdeafRo9oZjpMs2BgzouV2tI0ccUwQk6OGirtaaaRK1CkEkt2y78k7cl838Iu3_tkromyJefBR553qfoN1W5NONoDeDH4XwUsnJhduIfl72if_lOMI68MxGv9nXBnn5?width=3024&height=1701&cropmode=none" alt="City Church Stage">
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 my-3">
            <div class="card shadow p-3 mb-5 bg-white rounded">
                <div class="row">
                    <div class="col-12">
                        <div class="card-header">DECLERATION OF FAITH</div>
                    </div>
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12 col-lg-2">
                                <img class="card-img h-100" src="https://bn1305files.storage.live.com/y4mOAZQzwKIswzKnJu-ahCiNQw7NBILnruueHCvM32JhCTB1HuaQjXw-25RYxEilaluvRz94CQGdcPkJIhCHaECBrMuhKl934Lo3TDWL5C12HCelXHfhq_pmD_qJbAtnVIBdEd8Yx1tPA-QJRfTgEZWilGr80KbCzdGhyEus4m0z2joTEHImptsr-nCR2Kpy-5P?width=256&height=256&cropmode=none" alt="Four Square">
                            </div>
                            <div class="col-12 col-lg-10">
                                <div class="card-body">
                                    <h5 class="card-title mb-3">Download</h5>
                                    <p class="card-text">
                                        The full <a href="https://foursquare-org.s3.amazonaws.com/assets/Declaration_of_Faith.pdf">Foursquare Declaration of Faith</a> PDF as outlined by Foursquare founder Aimee Semple McPherson.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
