<div class="container-fluid">
    <div class="row">
        <div class="col mt-3">
            <img class="img-fluid" src="https://bn1305files.storage.live.com/y4mQISfOFujHpzRRrlKKv29pu-r92FG-NqWHxcSMlPWeV5Wwp9xuzMLPGbP320CmpNMKGALB9f-ApuzvL_VJ9hFygTfd_nRjWhg6M72C7ubPcE35mKAeE1AvwGSAT0mqrcQXNiF5CzCE1E5gtUdgvrw8-wrYAteuk2spWmYA1lMJrjq1K0hTTIMUtVVrTD2FaqI?width=1996&height=1614&cropmode=none" alt="city church stockton">
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-6 mt-3">
            <div class="card text-center shadow p-3 bg-gradient-primary rounded">
                <div class="card-header">
                    SUNDAY SERVICE
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <h5 class="card-title">Come Join Us</h5>
                            <p class="card-text">
                                We would love for you to join us in worship and invite you to share the love of the King of Kings. 
                                Come see if God has a word for you that could change your life forever.
                                We look forward to seeing you.
                            </p>
                        </div>
                        <div class="col-6 mt-3">
                            <h5 class="card-title">Prayer</h5>
                            <p class="card-text">9:30 AM</p>
                        </div>
                        <div class="col-6 mt-3">
                            <h5 class="card-title">Service</h5>
                            <p class="card-text">10:00 AM</p>
                        </div>
                        <div class="col-12 col-lg-6 mt-3">
                            <h5 class="card-title">Address</h5>
                            <p class="card-text">
                                <a href="https://goo.gl/maps/5eMqmC8jmG8mcJdJ9">1282 East Bianchi Road Stockton, CA 95210</a>
                            </p>
                        </div>
                        <div class="col-12 col-lg-6 mt-3">
                            <h5 class="card-title">Streams</h5>
                            <div class="d-flex justify-content-around">
                                <p class="card-text">
                                    <a href="https://www.facebook.com/citychurchstockton"><i class="fab fa-facebook-square"></i>Facebook</a>
                                </p>
                                <p class="card-text">
                                    <a href="https://www.youtube.com/results?search_query=city+church+stockton"><i class="fab fa-youtube"></i>YouTube</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 my-3">
            <div class="card text-center shadow p-3 rounded">
                <div class="card-header">
                    GET YOUR BIBLE
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <h5 class="card-title">Online</h5>
                            <p class="card-text">
                                <a href="https://bible.com">www.bible.com</a>
                            </p>
                        </div>
                        <div class="col-12 col-md-4">
                            <h5 class="card-title">Google</h5>
                            <p class="card-text">
                                <a href="https://play.google.com/store/apps/details?id=com.sirma.mobile.bible.android&_branch_match_id=794678537326270384&utm_source=Bible.com&utm_campaign=Quick%20Link%20-%20App%20Screen%20-%20Android&utm_medium=quick-link"><i class="fab fa-google-play"></i>Google Play Store</a>
                            </p>
                        </div>
                        <div class="col-12 col-md-4">
                            <h5 class="card-title">Apple</h5>
                            <p class="card-text">
                                <a href="https://apps.apple.com/app/bible/id282935706?_branch_match_id=794678537326270384&utm_source=Bible.com&utm_campaign=Quick%20Link%20-%20App%20Screen%20-%20iOS&utm_medium=quick-link"><i class="fab fa-app-store-ios"></i>Apple Store</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
